<div class="menu">
  <a [routerLink]="['/gettingStarted']"><h4>Getting Started</h4></a>
</div>
<div class="menu">
  <a [routerLink]="['/features']"><h4>Features</h4></a>
  <ul class="nav">
    <li><a [routerLink]="['/features/modal-gallery']">ModalGallery</a></li>
    <li><a [routerLink]="['/features/plain-gallery']">PlainGallery</a></li>
    <li><a [routerLink]="['/features/previews']">Previews</a></li>
    <li><a [routerLink]="['/features/upper-buttons']">UpperButtons</a></li>
    <li><a [routerLink]="['/features/global-config']">Global configuration</a></li>
    <li><a [routerLink]="['/features/default-values']">Default values</a></li>
  </ul>
</div>
<div class="menu">
  <a [routerLink]="['/migration']"><h4>Migration guide</h4></a>
</div>
<div class="menu">
  <a [routerLink]="['/demo']"><h4>Examples</h4></a>
  <ul class="nav">
    <li><a [routerLink]="['/demo/array-simple']">Minimal example</a></li>
    <li><a [routerLink]="['/demo/output-events']">Output Events</a></li>
    <li><a [routerLink]="['/demo/add-image-array']">Add image Array</a></li>

    <li><a [routerLink]="['/demo/no-dots-and-previews']">Current image + buttons</a></li>
    <li><a [routerLink]="['/demo/side-previews-hidden']">Hidden side-previews</a></li>
    <li><a [routerLink]="['/demo/only-current-img']">Only current image</a></li>
    <li><a [routerLink]="['/demo/preview-custom-size']">Custom preview size</a></li>

    <li><a [routerLink]="['/demo/close-outside']">No close outside</a></li>
    <li><a [routerLink]="['/demo/download-simple']">Download simple</a></li>
    <li><a [routerLink]="['/demo/download-advanced']">Download advanced</a></li>

    <li><a [routerLink]="['/demo/infinite-sliding']">Infinite sliding</a></li>

    <li><a [routerLink]="['/demo/loading-spinner-disable']">No loading spinner</a></li>
    <li><a [routerLink]="['/demo/loading-spinner-type']">Change type loading spinner</a></li>

    <li><a [routerLink]="['/demo/buttons-strategies']">Button strategies</a></li>
    <li><a [routerLink]="['/demo/buttons-custom-fa']">Custom buttons</a></li>
    <li><a [routerLink]="['/demo/buttons-exturl-newtab']">ExtUrl button in new tab</a></li>

    <li><a [routerLink]="['/demo/keyboard-config']">Keyboard config</a></li>
    <li><a [routerLink]="['/demo/description-strategy']">Description strategies</a></li>
    <li><a [routerLink]="['/demo/description-full-custom']">Description full custom</a></li>

    <li><a [routerLink]="['/demo/previews-length']">Previews with 1 image</a></li>
    <li><a [routerLink]="['/demo/previews-no-arrows']">Previews no arrows</a></li>
    <li><a [routerLink]="['/demo/previews-not-clickable']">Previews not clickable</a></li>
    <li><a [routerLink]="['/demo/previews-custom-size']">Previews custom sizes</a></li>

    <li><a [routerLink]="['/demo/accessibility']">Custom accessibility</a></li>

    <li><a [routerLink]="['/demo/plain-layouts']">Plain layouts</a></li>
    <li><a [routerLink]="['/demo/plain-atags']">Plain &lt;a&gt; tags</a></li>
    <li><a [routerLink]="['/demo/plain-image-pointer']">Plain image pointer</a></li>
    <li><a [routerLink]="['/demo/plain-custom-desc']">Plain custom with description</a></li>

    <li><a [routerLink]="['/demo/gallery-service']">Gallery service</a></li>
  </ul>
</div>
<br>
<br>
