/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "theme";

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';

html {
  // taken from https://gist.github.com/hsleonis/55712b0eafc9b25f1944
  // to improve font rendering
  // Adjust font size
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  // Font varient
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  // Smoothing
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}
//
//body, p, label, span {
//  font-family: $roboto-regular;
//  font-size: $font-middle;
//}
//
//b, strong {
//  font-family: $roboto-bold;
//}
//
//i {
//  font-family: $roboto-regular;
//}
//
//small {
//  font-family: $roboto-regular;
//}
//
//h1, h2, h3, h4, h5 {
//  font-family: $roboto-bold;
//}
